---
layout: default
---

<ul class="posts">
		{% for post in paginator.posts %}
		<li><p class="date" cate="{{ post.categories }}">{{ post.date | date:"%Y-%m-%d" }}</p> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
</ul>

<div class="pagination fn-clear">
	{% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}
	<span class="page">&lt;<a href="/">前页</a></span>
	{% else %}
	<span class="page">&lt;<a href="/page{{paginator.previous_page}}">前页</a></span>
	{% endif %}
	{% else %}
	<span class="page">&lt;前页</span>
	{% endif %}
	{% if paginator.page == 1 %}
	<span class="currentitem"><a href="/">1</a></span>
	{% else %}
	<span class="pageitem"><a href="/">1</a></span>
	{% endif %}
	{% for count in (2..paginator.total_pages) %}
	{% if count == paginator.page %}
	<span class="currentitem"><a href="/page{{count}}">{{count}}</a></span>
	{% else %}
	<span class="pageitem"><a href="/page{{count}}">{{count}}</a></span>
	{% endif %}
	{% endfor %}
	{% if paginator.next_page %}
	<span class="page"><a class="next" href="/page{{paginator.next_page}}">后页</a>&gt;</span>
	{% else %}
	<span class="page" >后页&gt;</span>
	{% endif %}
	<span class="page">(共{{ paginator.total_posts }}篇)</span>
</div>