{% include default/header.tpl %}

<div id="wrapper">
    <div id="content" class="index">
        {% include default/sidebar.tpl %}
        <div id="main">
            {{ content }}
			<ul class="posts">
		        {% for post in paginator.posts %}
		        <li><p class="date" cate="{{ post.categories }}">{{ post.date | date:"%Y-%m-%d" }}</p> <a href="{{ post.url }}">{% if post.tags && post.tags[0]=='转载' %}【转】{% endif %}{{ post.title }}</a></li>
		        {% endfor %}
			</ul>
            {% if page.show_paginate %}
            {% include default/pagination.tpl %}
            {% endif %}
        </div>
    </div>
</div>

{% include default/footer.tpl %}