{% include default/header.tpl %}

<div id="wrapper">
    <div id="content">
        <h2 id="post-title">{{ page.title }}</h2>
        <div id="post-info">
            <span style="float:right;">
                <span class="post-categories">
	                {% for category in page.categories limit:3 %} 
	                <a class="category" href="/category/{{ category }}/">{{ category }}</a>
	                {% endfor %}
	            </span>
	            <span class="post-tags">
                    {% for tag in page.tags limit:3 %} 
                    <a class="tag" href="/tag/{{ tag }}/">{{ tag }}</a>
                    {% endfor %}
                </span>
            </span>
            <div class="highlight">
                <pre style="padding:5px 20px;"><code class="php">$author = "<span class="author"><a href="{{ site.url }}" style="color:green;">{{ site.author }}</a></span>"; <span class="cm">// @since: {% if page.date %}{{ page.date | date:"%Y-%m-%d" }}{% else %}2012-11-20{% endif %}</span></code></pre>
            </div>
        </div>
        <div class="post">
            {{ content }}
            {% include default/license.tpl %}
        </div>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://wukezhan.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=wukezhan">comments powered by Disqus.</a></noscript>
    </div>
</div>

{% include default/footer.tpl %}